<div class="mass-filter-container">
  <div class="mass-filter-header">
    <h3>{{ 'MASS_FILTER.TITLE' | translate }}</h3>
  </div>

  <div class="mass-filter-buttons">
    <button mat-button (click)="selectAll()" class="filter-button">
      {{ 'MASS_FILTER.SELECT_ALL' | translate }}
    </button>
    <button mat-button (click)="deselectAll()" class="filter-button">
      {{ 'MASS_FILTER.DESELECT_ALL' | translate }}
    </button>
  </div>

  <div class="mass-filter-checkboxes">
    <div *ngFor="let category of categories" class="filter-checkbox-item">
      <mat-checkbox
        [checked]="isChecked(category)"
        (change)="toggleCategory(category)"
        class="category-checkbox"
      >
        <span
          class="category-label"
          [style.color]="categoryColors[category]"
          [matTooltip]="getCategoryLabel(category) | translate"
        >
          {{ getCategoryLabel(category) | translate }}
        </span>
      </mat-checkbox>
    </div>
  </div>
</div>
